* {
  }
  h2{
  }  
  h4{
  }
  
  .data{
  }
  body {
  }
  
  .container {
  }
  .heading {
  }
  
  .row {
  }
  
  .card {
  }
  
  .logo{
    color: #3dc707;
  }
  
  
  .card-header {
  }
  
  .card-body {
  }
  
  .card-body .btn {
  }
  
  .card:hover {
  }
  
  @media screen and (max-width: 1000px) {
    .card {
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
    }
  
    .heading {
    }
  
    .card {
    }
  }
  * {
  }
  body {
  }
  nav {
  }
  ul {
  }
  a {
  }
  a:hover {
  }
  .logo a:hover {
  }
  .menu li {
  }
  .logo a,
  .toggle a {
  }
  .button.secondary {
  }
  
  /* Mobile menu */
  .menu {
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
  }
  .item.active {
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
  }
  .bars:before,
  .bars:after {
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
    }
    .button.secondary a {
    }
    .button a:hover {
    }
    .button:not(.secondary) a:hover {
    }
    .button.secondary a:hover {
    } 
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }



  /* css formulaire */
  .wrapper {
  }
  .wrapper .content {
  }
  .wrapper .content button {
  }
  .wrapper .content button:focus {
    outline: none;
  }
  .wrapper .content header {
    text-align: center;
  }
  .wrapper .content header h1 {
    margin-top: 0;
    font-size: 230%;
  }
  .wrapper .content .social-login {
  }
  .wrapper .content .social-login button {
  }
  .wrapper .content .social-login button:first-child {
  }
  .wrapper .content .social-login button:hover {
  }
  .wrapper .content .social-login button span {
    font-size: 17px;
    color: #777;
    margin-left: 5px;
  }
  .wrapper .content .login-form {
  }
  .wrapper .content .login-form .input-group {
  }
  .wrapper .content .login-form .input-group input {
  }
  .wrapper .content .login-form .input-group input:focus {
  }
  .wrapper .content .login-form .input-group label {
  }
  i{
    color: #e2e615;
  }
  .wrapper .content .login-form .input-group button {
  }
  .wrapper .content .login-form .input-group button:hover {
  }
  .wrapper .content footer {
  }
  .wrapper .content footer a {
    color: #999;
    text-decoration: none;
    font-size: 11px;
  }@media screen and (max-width: 720px) { .wrapper .content {padding-right: 0;padding-left: 0;  margin: 0 10px;
    }  }  
table {
    border-collapse: collapse;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}th,td {
}#header {
}h1 {
}
